<span class="badge badge-primary" style="visibility: hidden; padding:5px 0 5 0; margin-right: 10px;" id="previous-review-warning">
    Previously Reviewed
</span>
<button class="btn btn-outline-warning my-2 my-sm-0" id="review-complete-button" onclick="view.routeEvent('onReviewCompleteClicked')" style="margin-right: 10px; visibility: hidden;">Review Complete</button>
<button class="btn btn-primary my-2 my-sm-0" id="mode-button" onclick="view.routeEvent('onModeToggleClicked')">Disposition Mode</button>