<div class="modal fade" id="modal-registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-registration-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-registration-title">User Registration</h5>
            </div>
            <div class="modal-body" id="modal-registration-body">
                <p>Registration allows for the use of real names in comments, and to ensure that emails are routed properly at the completion of reviews. This should only appear once per project.</p>
                
                <table style="width:100%">
                    <tr>
                        <td style="text-align: right;"><label for="displayName">Display Name</label></td>
                        <td><input type="text" name="displayName" id="displayName"/></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><label for="email">Email</label></td>
                        <td><input type="text" name="email" id="email"/></td> <!-- TODO: Add Validation -->
                </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="view.routeEvent('onRegistrationClosed')">Register</button>
            </div>
        </div>
    </div>
</div>